meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='@lukebro')
meta(name='twitter:title' content='Lukasz Brodowski')
meta(name='twitter:description' content='A web developer who loves his dog, coffee, and Chipotle.')
meta(name='twitter:image' content='https://lukebor.com/images/twitter-card.png')